body {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
}
img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.main-img {
  vertical-align: bottom;
}

.comment-content,
.reply-content {
  /* border: 3px red solid; */
  display: inline-block;
  vertical-align: top;
  /* width: 850px; */
}

h1 {
  margin: 0px;
}

.collapse {
  display: none;
}

.reply-div {
  /* border: 3px red solid; */
  /* width: 700px; */
  padding-top: 10px;
}

.comment-div {
  padding-bottom: 30px;
  /* border: 3px red solid; */
}

input {
  border: none;
  outline: none;
  width: 840px;
  border-bottom: 2px black solid;
  margin-bottom: 5px;
}

.comment-app {
  width: 1000px;
  /* border: 3px red solid; */
}

.add-comment {
  /* width: 850px; */
  position: relative;
}

.comment-btn,
.send-reply-btn {
  position: absolute;
  right: 0px;
}

.cancel-comment-btn {
  position: absolute;
  right: 85px;
}

.cancel-reply-btn {
  position: absolute;
  right: 60px;
}

.add-reply-div {
  position: relative;
}

.login {
  display: flex;
}

form {
  width: 200px;
}

.input-reply {
  width: 800px;
  display: inline-block;
}

.comment-input {
  display: inline-block;
  width: 950px;
}

.comment-input,
.input-reply {
  border-bottom: 1px solid black;
  outline: none;
  padding-bottom: 5px;
}

.comment-img {
  vertical-align: bottom;
}

.reply-img {
  width: 30px;
  height: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

.logout-btn {
  float: right;
  background-color: rgb(93, 93, 175);
  padding: 3px 10px;
  color: white;
}

.likes {
  display: inline;
}

#txt {
  border: none;
  outline: 0 none;
}
label[for="txt"] {
  border: solid 1px #d5d5d5;
  padding: 0 0 0 5px;
}

/* adding the div placeholder */
[contentEditable="true"]:empty:not(:focus):before {
  content: attr(data-text);
}

.reply-to-reply-tag {
  background-color: #ececec;
  padding: 2px;
  border-radius: 3px;
}

.reply-tag-href {
  color: #4b7bea;
  text-decoration: none;
}

.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}

.comment-date {
  text-decoration: none;
  color: #777;
}
