img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.main-img {
  vertical-align: bottom;
}

.comment-content,
.reply-content {
  /* border: 3px red solid; */
  display: inline-block;
  vertical-align: top;
  /* width: 850px; */
}

h1 {
  margin: 0px;
}

.collapse {
  display: none;
}

.reply-div {
  /* border: 3px red solid; */
  /* width: 700px; */
  padding-top: 10px;
}

.comment-div {
  padding-bottom: 30px;
  /* border: 3px red solid; */
}

input {
  border: none;
  outline: none;
  width: 840px;
  border-bottom: 2px black solid;
  margin-bottom: 5px;
}

.comment-app {
  width: 900px;
  /* border: 3px red solid; */
}

.add-comment {
  /* width: 850px; */
  position: relative;
}

.comment-btn,
.send-reply-btn {
  position: absolute;
  right: 0px;
}

.cancel-comment-btn {
  position: absolute;
  right: 85px;
}

.cancel-reply-btn {
  position: absolute;
  right: 60px;
}

.add-reply-div {
  position: relative;
}

.login {
  display: flex;
}

form {
  width: 200px;
}

.input-reply {
  width: 800px;
}

.abra {
  display: inline-block;
}

.comment-img {
  vertical-align: bottom;
}

.reply-img {
  width: 30px;
  height: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

.logout-btn {
  float: right;
  background-color: rgb(93, 93, 175);
  padding: 3px 10px;
  color: white;
}

.likes {
  display: inline;
}
